name: CI/CD Docker Build + Notifications

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Set up Docker
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Step 3: Build Docker image
      - name: Build Docker image
        run: docker build -t my-notify-app .

      # Step 4: Log in to DockerHub
      - name: DockerHub login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Step 5: Tag and push the image
      - name: Tag and push image
        run: |
          docker tag my-notify-app sana725/my-notify-app:latest
          docker push sana725/my-notify-app:latest

      # Step 6: Trigger Lambda via API Gateway
